* {
  font-family: 'Spicy Rice', cursive;
  font-weight: 400;  
}
body {
  background: url('record.png'); 
  letter-spacing: 2px;}
  .header {
    background: #9701a0;
    color: #ffffff;
    padding-left: 20px;
    padding: 1px;
    border-radius: 10px;
    text-align: center;
}
#formContainer {
  text-align: right;
  padding: 20px;
  background-color: #eb74f1;
  width: fit-content;
  margin: 10px auto;
  border-radius: 10px;
  /* float: left; */

  /*1st value is top & bottom, 2nd is left & right*/
}
#tableContainer {
  text-align: left;
  padding: 20px;
  background-color: #eca8f0;
  width: fit-content;
  margin: 10px auto;
  border-radius: 10px;
 /* float: right; */
}
thead {
  font-size: 20px;

}
table {
  border-spacing: 20px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 25px;
    text-align: center;
}
/* Recall, * { } modifies everything, so if we put a bkd-img in it, 
that image will come through not just the body, but the header as well,
making it hard to see your header clearly*/

